<div class="project">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <main>
    <h2>Wallet</h2>
    <p class="par">
      This page contains the live project hosted on Firebase, and the paragraph
      below contains the GitHub source code link.
    </p>
    <div>
      <img
        alt="wallet"
        class="projectImg"
        src="assets/Is-VPN-safe-for-online-banking-1200x628-1.png"
        alt=""
      />
    </div>
    <h3>project overview</h3>
    <p class="par-project">
      <strong>An app that lets you add money, send money, and interact</strong>
      with real-life APIs to simulate financial transactions. I used html, css,
      angular.
    </p>
    <ul>
      <li>
        <a href="https://github.com/tasoskaripidis/bank-app" target="_blank"
          >github</a
        >
      </li>
      <li>
        <a href="https://bank-app-bd301.web.app/" target="_blank">live link</a>
      </li>
    </ul>
    <button (click)="goBack()" class="goBack">go back</button>
  </main>
</div>
