<div class="project">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <main>
    <h2>League of legends</h2>
    <p class="par">
      This page contains the live project hosted on Firebase, and the paragraph
      below contains the GitHub source code link.
    </p>
    <div>
      <img
        alt="wallet"
        class="projectImg"
        src="assets/riot-games2233.jpg"
        alt=""
      />
    </div>
    <h3>project overview</h3>
    <p class="par-project">
      As a League of Legends player, I decided to make in Angular the clown
      environment of the game. For the login use the
      <strong>Username: tasos</strong> / <strong>Password: 123456789</strong>.
    </p>
    <ul>
      <li>
        <a
          href="https://github.com/tasoskaripidis/clone-enviroment-of-leauge-of-legends-desktop-game"
          target="_blank"
          >github</a
        >
      </li>
      <li>
        <a href="https://lol-game-9abf4.web.app/" target="_blank">live link</a>
      </li>
    </ul>
    <button (click)="goBack()" class="goBack">go back</button>
  </main>
</div>
