<div class="project">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <main class="main-container">
    <h2>Wallet</h2>
    <p class="par">
      This page contains the live project hosted on Firebase, and the paragraph
      below contains the GitHub source code link.
    </p>
    <div>
      <img alt="wallet" class="projectImg" src="/assets/car-keys.jpg" alt="" />
    </div>
    <h3>project overview</h3>
    <p class="par-project">
      <strong>Car Rental App. </strong>A project built with HTML, CSS, and
      Angular. It <strong>fetches</strong> car data from an API, allows you to
      filter results using a search bar, and lets you add selected cars to your
      cart.
    </p>
    <ul>
      <li>
        <a href="https://github.com/tasoskaripidis/car-rental" target="_blank"
          >github</a
        >
      </li>
      <li>
        <a href="https://car-rental-project-33ea1.web.app/home" target="_blank"
          >live link</a
        >
      </li>
    </ul>
    <button (click)="goBack()" class="goBack">go back</button>
  </main>
</div>
