<div class="project">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <main>
    <h2>quiz game</h2>
    <p class="par">
      This page contains the live project hosted on Firebase, and the paragraph
      below contains the GitHub source code link.
    </p>
    <div>
      <img
        alt="Harry Potter"
        class="projectImg"
        src="assets/l-intro-1728679681.jpg"
        alt=""
      />
    </div>
    <h3>project overview</h3>
    <p class="par-project">
      <strong>Harry Potter Quiz Game </strong>is a fun project I created using
      HTML, CSS, and Angular. The game challenges you to answer 15 questions and
      your final score is revealed at the end.
    </p>
    <ul>
      <li>
        <a
          href="https://github.com/tasoskaripidis/HarryPotter-QuizGame"
          target="_blank"
          >github</a
        >
      </li>
      <li>
        <a href="https://harrypotterquiz-d0d8e.web.app/" target="_blank"
          >live link</a
        >
      </li>
    </ul>
    <button (click)="goBack()" class="goBack">go back</button>
  </main>
</div>
