.about-container {
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 6rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.about p {
  color: black;
}

.about h2 {
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
}

.line {
  background-color: rgb(178, 10, 178);
  height: 6px;
  width: 50px;
  border-radius: 3px;
}

.about p {
  width: 90vw;
  text-align: left;
  color: rgb(92, 92, 92);
}

.moreAbout h2 {
  text-transform: uppercase;
  padding: 1rem;
  color: black;
}

.moreAbout p {
  color: rgb(92, 92, 92);
  text-align: left;
  padding: 1rem;
  width: auto;
}

.moreAbout h4 {
  color: black;
  padding: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.moreAbout ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: capitalize;
  width: 100%;
}
.moreAbout li {
  color: rgb(92, 92, 92);
  background-color: rgb(203, 203, 203);
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: rgb(178, 10, 178);
  animation: bounce 0.6s ease-in-out infinite alternate;
}

.contactBtn {
  background-color: rgb(178, 10, 178);
  color: white;
  padding: 1rem;
  width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease-in-out;
  border: 2px solid transparent;
  margin-top: 4rem;
  margin-left: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contactBtn:hover {
  transform: translateY(5%);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30%);
  }
}

@media screen and (min-width: 820px) {
  .moreAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .moreAbout p {
    width: 400px;
    letter-spacing: 1px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    flex: 1 1 calc(30% - 2rem);
    margin-right: 1rem;
  }
}

@media screen and (min-width: 620px) {
  .moreAbout p {
    width: 400px;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1020px) {
  .moreAbout p {
    width: 600px;
    letter-spacing: 1px;
  }
  .moreAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
  }

  .contactBtn {
    margin-left: 8rem;
  }

  .about p {
    width: 800px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
}
