<div class="project">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <main>
    <h2>pets aid</h2>
    <p class="par">
      This page contains the live project hosted on Firebase, and the paragraph
      below contains the GitHub source code link.
    </p>
    <div>
      <img
        alt="Harry Potter"
        class="projectImg"
        src="assets/f3b8b2e70e9df81538257a4637515fd8.jpg"
        alt=""
      />
    </div>
    <h3>project overview</h3>
    <p class="par-project">
      <strong>Pets Aid</strong> is a project I created using HTML, CSS, and
      Angular. Users can sign up and log in with their email and password
      verification. In the app, you can update information about a pet that
      needs medical care and request donations to help cover the expenses.
    </p>
    <ul>
      <li>
        <a href="https://github.com/tasoskaripidis/pets-app" target="_blank"
          >github</a
        >
      </li>
      <li>
        <a href="https://petaid-dbffd.web.app/" target="_blank">live link</a>
      </li>
    </ul>
    <button (click)="goBack()" class="goBack">go back</button>
  </main>
</div>
