<div class="contact-container">
  <div>
    <h3>contact with me</h3>
    <ul class="contactList">
      <li>
        <span><i class="fa-solid fa-phone"></i></span>
        <p>+30-6908751919</p>
      </li>
      <li>
        <span><i class="fa-solid fa-envelope"></i></span>
        <p>tasoskarypides&#64;gmail.com</p>
      </li>
    </ul>
  </div>
  <div>
    <h3>social</h3>
    <ul class="social">
      <li>
        <a href="https://www.instagram.com/krps_anastasios/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/tasoskaripidis/" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://github.com/tasoskaripidis" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
