<div class="project">
  <nav>
    <app-navbar></app-navbar>
  </nav>
  <main>
    <h2>quiz game</h2>
    <p class="par">
      This page contains the live project hosted on Firebase, and the paragraph
      below contains the GitHub source code link.
    </p>
    <div>
      <img
        alt="Harry Potter"
        class="projectImg"
        src="assets/istockphoto-1181166710-612x612.jpg"
        alt=""
      />
    </div>
    <h3>project overview</h3>
    <p class="par-project">
      <strong>Supermarket List</strong> is an app where you can create a
      shopping list, edit it, and view the history of your previous lists. It’s
      built using HTML, CSS, and Angular.
    </p>
    <ul>
      <li>
        <a
          href="https://github.com/tasoskaripidis/supermarket-list"
          target="_blank"
          >github</a
        >
      </li>
      <li>
        <a href="https://supermarket-list-5f423.web.app/" target="_blank"
          >live link</a
        >
      </li>
    </ul>
    <button (click)="goBack()" class="goBack">go back</button>
  </main>
</div>
